.endUser-info-form {
    .form-body {
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;

        .form-field {
            display: block;
            flex: 1;
            flex-basis: 0%;
            flex-basis: 100%;
            margin-bottom: 0.75rem;
            max-width: 100%;
            padding: 0 0.75rem;
        }
    }
}
